body{
  background-color: bisque;
}

table td{
  border: solid 2px darkgray;
  border-radius: 2px;
  width: 50px;
  height: 50px;
  padding: 10px;
  margin: 0px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.game_over{
  background-color: rgba(240, 240, 240, 50);
  z-index: 10;
  height: 100%;
  width: 100%;
}


.zero{
  background:white;
}
.two {
  background-color: rgb(255, 225, 100);
}

.four{
  background-color: rgb(255, 205, 100);
}

.eight{
  background-color: rgb(255, 185, 100);
}

.sixteen{
  background-color: rgb(255, 165, 80);
}

.thirty-two{
  background-color: rgb(255, 165, 60);
}

.sixty-four{
  background-color: rgb(255, 165, 40);
}

.one-twenty-eight{
  background-color: rgb(255, 125, 20);
}

.two-fifty-six{
  background-color: rgb(255, 105, 20);
}

.five-twelve{
  background-color: rgb(255, 85, 20);
}

.ten-twenty-four{
  background-color: rgb(255, 65, 20);
}

.twenty-forty-eight{
  background-color: rgb(255, 45, 20);
}